<div class="row" style="margin-top: 100px;">
  <div class="col-md-6 offset-md-3">
    <mat-card>
      <h2>Enter details of Thief</h2>
      <form #thiefForm="ngForm" (ngSubmit)="onSave(thiefForm)" id="thiefForm">
        <div class="form-group">
          <label>Name:</label>
          <input
            class="form-control"
            type="text"
            name="name"
            ngModel
            required
            minlength="3"
          />
        </div>

        <div class="form-group">
          <label>Gender:</label>
          <select class="form-control" name="gender" ngModel required>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>

        <div class="form-group">
          <label>Height:</label>
          <input
            class="form-control"
            type="number"
            name="height"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label>Area of operation:</label>
          <input
            class="form-control"
            type="text"
            name="op_area"
            ngModel
            required
            minlength="2"
          />
        </div>

        <div class="form-group">
          <label>Age:</label>
          <input
            class="form-control"
            type="number"
            name="age"
            ngModel
            required
          />
        </div>

        <button
          class="btn btn-primary"
          [ngClass]="{ 'not-allowed': !thiefForm.valid }"
          [disabled]="thiefForm.invalid"
        >
          Save
        </button>
        <button class="btn btn-light" type="reset">Reset</button>
      </form>
    </mat-card>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
